<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/addform" method="POST">
    Name:<input type="text" name="name"><br>
    Age:<input type="text" name="age"><br>
    password:<input type="password" name="password"><br>
    Comments:<textarea rows="5" cols="10" name="comment">your comments</textarea><br>
    Sex:<p><input type="radio" name="sex" value="male">Male</p>
    <p><input type="radio" name="sex" value="female">Female</p>
    States:<select  name="states">
    <option value="Ap">AP</option>
    <option value="TN">TN</option>
    <option  value="KT">KT</option>
</select><br>
    <input type ="submit" value="SAVE">
</form>
</body>
</html>